:root {
	--main-color: #07beb8;
	--second-color: #0793be;
	--bg-color: #dedbd3;
	--shadow: 0 0px 10px rgba(182, 159, 159, 0.45);
	--font: 'Montserrat', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-family: var(--font);
}

body {
	background-color: #dedbd3;
}
